@import './functions';
@import './variables';
@import './reset';
@import './mixins';

body {
    font-family: 'Overpass', sans-serif;
    color: $white;
    background-color: $veryDarkBlue;
}

.page-wrapper {
    background-color: $darkBlue;
    width: 20em;
    line-height: 1.3em;
    position: relative;
}

.star-container img {
    background-color: $lightGrey;
}
.inner-text {
    position: absolute;
    inset: 0;
    margin: auto;
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button_container button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $lightGrey;
    color: $white;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button_submit {
    border: none;
    color: $white;
    background-color: $primary;
    cursor: pointer;
}