@import "./variables";
@import "./reset";

html {
  font-family: $overPass;
}

body {
  color: $white;
  background-color: $veryDarkBlue;
  position: absolute;
  width: 100vw;
  height: 100vh;
  line-height: 1.5;
  font-family: $overPass;
}

.page-wrapper {
  height: 400px;
  width: 400px;
  margin: 20% auto;
  background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
}

.content {
  position: relative;
  height: 100%;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-top: 30px;
  font-weight: map-get($fontWeight, "bold");
}

.content > p {
  color: $mediumGrey;
  font-weight: map-get($fontWeight, "regular");
  margin-top: 10px;
}

.star-container {
  display: flex;
  align-items: center;
}

.star-container,
.rating {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $circleColor;
}

.star-container > img {
  margin: auto;
}

.button-flex {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
}

.rating {
  color: $white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.rating:hover {
  background-color: $lightGrey;
  transition: 250ms;
}

.submit-button {
  font-weight: map-get($fontWeight, "bold");
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 15%/100%;
  letter-spacing: 2px;
  padding: 15px 0;
  text-transform: uppercase;
  cursor: pointer;
}

.submit-button:hover {
  background-color: $white;
  color: $primary;
  transition: 250ms;
}

.thank-you-state {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.you-selected {
    margin: auto;
    width: 200px;
    padding: 2px 0;
    border-radius: 15%/100%;
    background-color: $circleColor;
    color: $primary;
}